**/nbproject/private/
**/.classpath
**/.settings
**/.project
**/.vscode
**/out/
/.gradle/
/.nb-gradle/
/.idea/
/dist/
/build/
/bin/
/netbeans/
/.classpath
/.project
/.settings
*.dll
*.so
*.jnilib
*.dylib
*.iml
*.class
*.jtxt
.gradletasknamecache
.DS_Store
/jme-core/src/main/resources/com/jme3/system/version.properties
/jme-*/build/
/jme-*/bin/
/jme-bullet-native/bullet3.zip
/jme-bullet-native/bullet3-*/
/jme-bullet-native/src/native/cpp/com_jme3_bullet_*.h
/jme-android-native/openal-soft/
/jme-android-native/OpenALSoft.zip
/jme-android-native/src/native/jme_decode/STBI/
/jme-android-native/src/native/jme_decode/Tremor/
/jme-android-native/src/native/jme_decode/com_jme3_audio_plugins_NativeVorbisFile.h
/jme-android-native/src/native/jme_decode/com_jme3_texture_plugins_AndroidNativeImageLoader.h
/jme-android-native/stb_image.h
!/jme-bullet-native/libs/native/windows/x86_64/bulletjme.dll
!/jme-bullet-native/libs/native/windows/x86/bulletjme.dll
!/jme-bullet-native/libs/native/osx/x86/libbulletjme.dylib
!/jme-bullet-native/libs/native/osx/x86_64/libbulletjme.dylib
!/jme-bullet-native/libs/native/linux/x86/libbulletjme.so
!/jme-bullet-native/libs/native/linux/x86_64/libbulletjme.so
/jme-examples/private/
!/jme-vr/src/main/resources/**/*.dylib
!/jme-vr/src/main/resources/**/*.so
!/jme-vr/src/main/resources/**/*.so.dbg
!/jme-vr/src/main/resources/**/*.dll
!/jme-vr/src/main/resources/**/*.pdb
/buildMaven.bat

