INCLUDE com/jme3/asset/General.cfg

# IOS specific loaders
LOADER com.jme.system.ios.IosImageLoader : jpg, bmp, gif, png, jpeg
LOADER com.jme.audio.plugins.OGGLoader : ogg
LOADER com.jme.material.plugins.J3MLoader : j3m
LOADER com.jme.material.plugins.J3MLoader : j3md
LOADER com.jme.shader.plugins.GLSLLoader : vert, frag, glsl, glsllib
LOADER com.jme.export.binary.BinaryImporter : j3o
LOADER com.jme.font.plugins.BitmapFontLoader : fnt
